<div class="container">

	<div class="row">
		<h1 class="text-center"> Eat Da Wich! </h1>
		<img class="img-center center-block" src="/assets/img/wich.jpg" width="200">
	</div>

	<div class="row">	
		<div class="form-group text-center col-md-6 col-md-offset-3">
			<label for="burger"></label>
			<textarea class="form-control" rows="5" id="burger"></textarea>
		</div>
	</div>

	<div class="row">
		<div class="text-center">
			<button type="button" class="btn btn-warning" id="submit">Submit</button>
		</div>
	</div>

	<div class="row">
		<div class='text-center'>
			<p> Enter a Wich you want to eat and click the submit button </p>
		</div>
	</div>
	
	
	<div class="row">
		<div class='text-center'>
			<h1> Which Wich you want </h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h2> Wiches that are not Devoured </h2>



	<ol>
		{{#each burgers}}
		{{#unless devoured}}
		<li><p> {{this.burger_name}} <button data-id="{{this.id}}" class="devourit btn btn-success">Devour it</button></li>
		{{/unless}}
		{{/each}}
	</ol>
</div>
	
	<div class="col-sm-6">
		<h2> Wiches that are Devoured </h2>
	
		<ol>
			{{#each burgers}}
			{{#if devoured}}
			<li><p> {{this.burger_name}}</li>
			{{/if}}
			{{/each}}
		</ol>
	</div>


</div>
</div>


<!--<script>
$(function() {

  $("body").on('click', "#submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger_name: $("#burger").val(),
      devoured: 0
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      });
  });



  $("body").on("click", ".devourit", function(event) {
    var id = $(this).data("id");
    var devoured = $(this).data(".devourit");

    var newBurgerState = {
      devoured: 1
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newBurgerState
    }).then(
      function() {
        console.log("changed sleep to", newBurgerState);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });



})
</script>-->

